.positions {
  .positions-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-size: 1.5em;
  }

  .collection {
    display: flex;
    flex-direction: column;
    margin: 10px;

    .collection-item {
      border: 1px solid;
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      &:not(:last-child) {
        border-bottom: 0 none;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }

      span {
        flex: 0 0 50%;
      }

      strong {
        margin-right: auto;
      }

      mat-icon:hover {
        color: #f44336;
      }
    }

    .collection-no-data {
      align-self: center;
      font-size: 1.5em;
    }
  }
}

mat-dialog-content {
  mat-form-field:not(:first-child) {
    margin-left: 15px;
  }
}
