<div class="positions">
  <div class="positions-title">
    <span>Positions:</span>
    <button mat-raised-button color="primary" (click)="openDialog()">Add position</button>
  </div>
  <div class="collection">
    <a class="collection-item" href="">Position 1 <mat-icon color="accent">delete</mat-icon></a>
    <a class="collection-item" href="">Position 2 <mat-icon color="accent">delete</mat-icon></a>
  </div>
</div>

<ng-template #dialogContainer>
  <h2 mat-dialog-title>Add new position</h2>
  <mat-dialog-content class="mat-typography">
    <p>Learn one way to build applications with Angular and reuse your code and abilities to build
      apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true">Add</button>
    <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
  </mat-dialog-actions>
</ng-template>
