.page-title {
  padding: 30px 30px 0;
  display: flex;
  justify-content: space-between;

  h4 {
    font-size: 2.5em;
  }
}

.collection {
  padding: 50px;
  display: flex;
  flex-direction: column;

  .collection-item {
    border: 1px solid;
    padding: 15px;

    &:not(:last-child) {
      border-bottom: 0 none;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  .collection-no-data {
    align-self: center;
    font-size: 1.5em;
  }
}
