<mat-sidenav-container>
  <mat-sidenav [opened]="opened" mode="side">
    <div class="sidenav-body">
      <div class="logo">
        <a [routerLink]="links[0].url">
          <mat-icon>beenhere</mat-icon>
          Practice CRM
        </a>
      </div>
      <ul class="nav-list">
        <li *ngFor="let link of links" routerLinkActive="active" [routerLink]="link.url">
          <a>{{link.name}}</a>
        </li>
        <li (click)="logout($event)">
          <a>Logout</a>
        </li>
      </ul>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>

    <div class="btn-action"
         (mouseover)="isMenuHidden = false"
         (mouseout)="isMenuHidden = true">
      <button mat-fab color="primary">
        <mat-icon>more_vert</mat-icon>
      </button>
      <ul [hidden]="isMenuHidden">
        <li>
          <button mat-mini-fab matTooltip="New order" matTooltipPosition="before"
                  matTooltipClass="page-tooltip" color="accent" routerLink="/order">
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </li>
        <li>
          <button mat-mini-fab matTooltip="New category" matTooltipPosition="before"
                  matTooltipClass="page-tooltip" color="accent" routerLink="/categories/new">
            <mat-icon>create</mat-icon>
          </button>
        </li>
      </ul>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

