:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-toolbar > div {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.3em;
}

.right-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;

  li {
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;

    &.active {
      background-color: rgba(0, 0, 0, .25);
    }
  }
}

.auth-block {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
}
